*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    height: 100vh;
    background-color: black;
    background-image: url("./images/home-bg2.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* login page  */
.containor{
    width: 100%;
    padding: 30px;
    text-align: left; 
    display: flex;
    flex-direction:column ;
    
}
.ranking{
    width: 200px;
    border-radius: 50px;
    height: 30px;
    background-color: rgba(162, 162, 162, 0.438);
    margin-top: 60px;
    margin-bottom: 3px;
}

.left{
    width:50%;
    position: relative;
    display: flex;
    flex-direction: column;

}


 .left h1{ 
    color: white;
    font-size: 4rem;
    margin-bottom: 30px;
}

.left p{
    color: rgb(139, 139, 139);
    font-size: 1rem;
    margin-bottom: 30px;

}
.buttons{
    align-self: flex-end;
    display: flex;
    width: 330px;
    justify-content: flex-end;
    gap: 30px;
}
.buttons a{
    text-decoration: none;
}

button{
    display: block;
    right: 0px;
    height: 35px;
    padding: 7px;
    border-radius: 9px;
    border: none;
    width: 120px;
    color: antiquewhite;
    font-weight: bolder;
    background-color:rgb(8, 162, 228);
}
.ranking p{
    line-height: 30px;
    color:  rgba(167, 172, 179, 0.927);
    font-weight: 100;
    padding-left:15px ;
    
}

/* registration page  */

/* login-containor */
.registration-body{
    align-items: center;
}
.login-box{
    width: 30%;
    min-width: 400px;
    max-height: 700px;
    padding: .9rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    
}

.login-box form{
    padding: 10px;
}

.login-box img{ 
    width: 200px;

}
.login-box h1{
    font-size: 1rem;
    text-align: left;
}
.logo{
    margin-bottom: 10px;
    padding: 10px;
}
.login-items{
    text-align: left;
    margin-top: 1.2rem;
}
.login-items label{
  font-size: medium;

}
.login-items input{
    height: 2rem;
    display:block;
    width: 100%;
}

.checkbox-postion{
    text-align: right;
    margin-top: 2rem;
}

.register-button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.login-redirect{
    margin-top: .8rem;
    padding: 1rem;
}
.login-redirect a{
    text-decoration: none;
    color: rgb(0, 98, 255);
    font-weight: bold;
}


