*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background-image: url("./images/home-bg2.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.containor{
    width: 100%;
    padding: 30px;
    text-align: left; 
    display: flex;
    flex-direction:column ;
    
}
.ranking{
    width: 200px;
    border-radius: 50px;
    height: 30px;
    background-color: rgba(162, 162, 162, 0.438);
    margin-top: 60px;
    margin-bottom: 3px;
}

.left{
    width:50%;
    position: relative;
    display: flex;
    flex-direction: column;

}


 .left h1{ 
    color: white;
    font-size: 4rem;
    margin-bottom: 30px;
}

.left p{
    color: rgb(139, 139, 139);
    font-size: 1rem;
    margin-bottom: 30px;

}
.buttons{
    align-self: flex-end;
    display: flex;
    width: 330px;
    justify-content: flex-end;
    gap: 30px;
}
.buttons a{
    text-decoration: none;
}

button{
    display: block;
    right: 0px;
    height: 35px;
    padding: 7px;
    border-radius: 9px;
    border: none;
    width: 120px;
    color: antiquewhite;
    font-weight: bolder;
    background-color:rgb(8, 162, 228);
}
.ranking p{
    line-height: 30px;
    color:  rgba(167, 172, 179, 0.927);
    font-weight: 100;
    padding-left:15px ;
    
}



